/*Colors

*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  background-color: #333333;
}

/****************************
HEADER
*****************************/
.header-bar {
  width: 153.6rem;
  background-color: #1a1a1a;
  height: 6rem;
}
.head-div {
  display: flex;
  align-items: center;
}
.sub-head-div1 {
  width: 46.08rem;
  height: 6rem;
  /* background-color: green; */
}
.logo {
  width: 12rem;
  height: 5.6rem;
  padding: 0.3rem;
  border-radius: 1.5rem;
}
.sub-head-div2 {
  display: flex;
  align-items: center;
  width: 61.44rem;
  height: 6rem;
}
.sub-head-div3 {
  width: 46.08rem;
  height: 6rem;
}

.nav-list {
  display: flex;
  align-content: center;
  list-style: none;
  gap: 3rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.6rem 8rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.8rem;
}

.nav-links:hover {
  font-size: 1.9rem;
  color: #e6ffe6;
  cursor: pointer;
  transition: all 0.1s;
}

.hospital-bg {
  overflow: hidden;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 73rem;
  width: 153.6rem;
  opacity: 0.6;
}
/************************
SECTION 1
*************************/

.section-1 {
  width: 123.6rem;
  height: 63rem;
  background-color: #1a1a1a;
  border: 0.5rem solid black;
  margin: 5rem 15rem;
  border-radius: 5rem;
}

.main-h1 {
  font-size: 2.8rem;
  padding: 3rem 50rem 0rem 50rem;
}

.main-content {
  text-align: justify;
  color: #1a1a1a;
  font-size: 2.4rem;
  padding: 2.5rem 5rem 0rem 5rem;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
}

.main-class {
  background-color: bisque;
  width: 1000px;
  height: 400px;
  opacity: 0.7;
  border-radius: 25px;
  margin-top: 100px;
  margin-left: 50px;
}

.main-class-head {
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
}
.main-class-text {
  font-size: 18px;
  color: black;
  opacity: 1;
  line-height: 1.5;
  text-align: justify;
  padding: 25px;
}
